<div id="forecast_container">
  <%= render 'layouts/forecast' %>
</div>

<div id="spotify_container">
  <%= render 'layouts/spotify' %>
</div>

<div id="temp_graphs">
  <%= render 'layouts/temp_readings' %>
  <%= render 'layouts/hourly_forecast' %>  
</div>

<div id="utilities_graphs">
  <%= render 'layouts/utility_bill_graph' %>
</div>