<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Thermotrack" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Thermotrack" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script>
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) {
          window.console.log(message);
        }
      };

      var pusher = new Pusher('6c776bb9a448a9be701d');
      var channel = pusher.subscribe('temperature');
      channel.bind('post_reading', function(data) {
        // update the daily temperature
        update_daily_temp(parseInt(data.message))
        console.log(data.message);
      });
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/spotify' %>
       <%= render 'layouts/temp_readings' %>
       <%= render 'layouts/forecast' %>
       <%= render 'layouts/insta_feed' %>       
       <%= yield %>      
    </main>
  </body>
</html>
